.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;   

    @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }


    // CLOSED STATE OF THE POPUP
    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .8);
        border-radius: $border-rad-small;

        // define the space as a table so it can be aligned
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate (-50%, -50%) scale(0);
        // add a .3s delay to the transition so the background appears for longer
        transition: all .5s .2s;

        @include respond(tab-port) {
            width: 95%;
            padding: 1rem;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-port) {
            width: 100%;
            display: inline-block;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        // use the table allegement property
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(phone) {
            width: 100%;
            display: inline-block;
            padding: 1rem 2rem;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(phone) {
            width: 50%;
            display: table-cell;
            padding: 1rem;
            float: left;
            overflow: hidden;
        }
    }

    &__text {
        font-size: 1.4rem; //14px
        padding-bottom: 4rem;

        -ms-column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 4rem;
        -ms-column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-gap: 4rem; // default is 1em which is the default font size for the current element, 14px

        -webkit-column-rule: 1px $color-grey-dark-2;
        -ms-column-rule: 1px $color-grey-dark-2;
        -moz-column-rule: 1px $color-grey-dark-2;
        column-rule: 1px $color-grey-light-2;

        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        @include respond(phone) {
            width: 100%;
        }
    }


    // OPEN STATES REVERSE THE CLOSED STATE OF THE POPUP
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark-3;
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transform: all .2s;
            // specify the line height to remove default line height around text element
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}